/* margin: top right bottom left; */

.hero {
    background-color: rgb(137, 66, 66);
    color: white;

}

.hero-text h3 {
    font-size: 40px;
    margin-top: 80px;
    margin-left: 100px;
}

.fw-light {
    margin-left: 100px;
}

.hero-button {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 100px;
}

.hero-img {

    margin: 30px 0px 10px 100px;

}

.rounded-circle {
    width: 105px;
    height: 105px;
}

.link {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

.img-thumbnail {
    height: 475px;
    width: 475px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-item {
    color: rgb(137, 66, 66);
    font-size: 30px;
    justify-self: center;
    margin-top: 20px;


}

.hero-items {
    background-color: rgb(255, 255, 255);
    color: rgb(15, 15, 15);
    margin-left: 0px;
    text-align: center;
    margin-top: 10px;

}

.hero-items a {
    text-decoration: none;
    color: saddlebrown;
}

.hero-service {
    color: rgb(137, 66, 66);
    font-size: 30px;
    justify-self: center;
    margin-top: 20px;

}

.hero-icon {
    background-color: rgb(245, 214, 214);
}

.icon {
    font-size: 80px;
    align-items: center;
    color: rgb(172, 108, 108);

}

.service-icon {
    text-align: center;
    margin-top: 90px;

}

.icon-text {
    font-size: 30px;
}

.icon {
    transition: 0.3s ease;
}

.icon:hover {
    transform: translateY(-15px);
}

/* margin: top right bottom left; */

.s-img {
    font-size: 38px;
    margin-top: 40px;
    text-align: center;
}

.fw-light {
    text-align: center;
    margin-left: 20px;
}

.quality {

    font-size: 23px;
    margin-left: 50px;
}

.our-service {
    background-color: rgb(137, 66, 66);
    margin-top: 50px;
    color: white;

}

.bi {
    transition: 0.3s ease;
}

.bi:hover {
    transform: translateX(+15px);
}

.ans-que {
    font-size: 50px;
    margin-top: 100px;
    margin-left: 150px;
}

.ans-ques {
    margin-left: 150px;
    margin-top: 20px;
}

.review-scroll {
  width: 100%;
  overflow: hidden;
}

.review-track {
    display: flex;
    gap: 20px;
    animation: scroll-left 12s linear infinite;
}

.card {
    min-width: 280px;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
        /* adjust according to number of cards */
    }
}
.card {
    overflow: hidden;   /* image div બહાર ન જાય */
}

.card img {
    transition: transform 0.4s ease;  /* smooth zoom */
}

.card img:hover {
    transform: scale(1.2);  /* zoom level */
}
.main{
    background-color: brown;
    color: white;
    margin-top: 80px;
    height: 120px;
}
.main h1{
    text-align: center;
    margin-left: 40px;
    margin-top: 50px;
}
.main button{
    margin-left: 290px;
    margin-top: 50px;
}




