@media (max-width:768px) {
    .hero-text h3 {
        font-size: 25px;
        margin-left: 30px;
        margin-top: 20px;
    }
}

@media (max-width:768px) {
    .fw-light {
        font-size: 10px;
        margin-left: 30px;

    }
}

@media (max-width:768px) {
    .hero-button {
        margin-left: 30px;
    }
}
@media (max-width:768px){
    .hero-img{
        margin-left: 30px;
       
    }
    .link{
        font-size: 15px;
    }
    .rounded-circle{
        width: 85px;
        height: 85px;
    }
    .img-thumbnail{
        margin-left: 0px;
    }
    .hero-item{
        font-size: 18px;
    }
    .hero-items{
        margin-left: 0px;
    }
    .s-img{
        font-size: 25px;
    }
    .quality{
        font-size: 14px;

    }
    .ans-que{
        margin-top: 40px;
        margin-left: 20px;
    }
    .ans-ques{
        margin-left: 20px;
    }
    .main{
        margin-top: 20px;
        height: 150px;
    }
    .main h1{
        margin-left: 20px;
        margin-bottom: 25px;
        font-size: 18px;
    }
    .main button{
        margin-left: 30px;
        margin-top: 50px;
        
    }
}

